vrrp_instance VI_1 {
        state BACKUP
        interface {{ net.interface }}
        virtual_router_id 51
        priority 255
        advert_int 1
        authentication {
              auth_type PASS
              auth_pass 12345
        }
        virtual_ipaddress {
              {{ lb_vm.ipaddr }}/{{ lb_vm.cidr }}
        }
}
vrrp_instance VI_2 {
        state BACKUP
        interface {{ net.interface }}
        virtual_router_id 52
        priority 255
        advert_int 1
        authentication {
              auth_type PASS
              auth_pass 12345
        }
        virtual_ipaddress {
              {{ lb_vm.ipaddr }}/{{ lb_vm.cidr }}
        }
}